@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
* {
  margin: 0;
  zoom: 1.2;
}

.title-img {
	justify-content: center;
	width: 1.5em;
	height: 1.5em;
	border-radius: 5em;
	-webkit-border-radius: 5em;
	-moz-border-radius: 5em;
}

.top-section{
  list-style: none;
  display: inline-flex;
  padding: 0;
}

p{
  color: crimson;
  font-size: 7.5px;
  /* text-transform: unset; */
  letter-spacing: 0.05em;
}

.social{
  display: inline-flex;
  list-style: none;
  padding-left: 0;
}

.contactimg{
  width: 2rem;
  height: 2rem;
  padding: 2rem 4rem 0 2px;
  text-shadow: 2px 2px;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #353535;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: hidden;
}

.card-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 500px;
  height: 500px;
}
.card-container .card {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 200px;
  padding: 20px;
  overflow: hidden;
  background: #252525;
  border-radius: 10px;
  box-shadow: -2px 2px 0px 0px #202020, -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
  transform: translate(0px, 0px) rotateX(30deg) rotateZ(-20deg);
  z-index: 2;
  transition: all 1s;
}
.card-container .card:hover {
  transform: translate(0px, -20px) rotateX(10deg) rotateZ(-20deg);
  box-shadow: -2px 1px 0px 0px #202020, -40px 40px 40px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.card-container .card h1 {
  color: crimson;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 16px;
}

.card-container .card h2 {
  color: crimson;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

.card-container .card h1:nth-of-type(2) {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.card-container .card h3 {
  color: crimson;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.card-container .card h3:nth-of-type(2) {
  font-size: 14px;
  font-weight: 400;
}
.card-container .card i {
  margin-right: 5px;
  color: crimson;
}
.card-container .card .circle {
  position: absolute;
  margin: auto;
  top: 10%;
  bottom: 0;
  right: -50%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #202020;
  z-index: -2;
}
.card-container .card .circle:nth-of-type(2) {
  background-image: url("../assets/me.jpeg");
  width: 100px;
  height: 100px;
  top: 90%;
  right: -20%;
  z-index: -1;
  /* background: crimson; */
}

@media only screen and (max-width: 780px) {
  .card-container .card {
    width: 250px;
    height: 150px;
    animation: hvr 5s infinite ease-in-out;
    transition: none;
  }
  .card-container .card h1 {
    font-size: 18px;
  }
  .card-container .card h1:nth-of-type(2) {
    font-size: 14px;
  }
  .card-container .card h3 {
    font-size: 12px;
  }
  .card-container .card h3:nth-of-type(2) {
    font-size: 10px;
  }
  .card-container .card .circle {
    right: -70%;
  }

  @keyframes hvr {
    0% {
      box-shadow: -2px 2px 0px 0px #202020, -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
      transform: translate(0px, 0px) rotateX(30deg) rotateZ(-20deg);
    }
    50% {
      transform: translate(0px, -20px) rotateX(30deg) rotateZ(-20deg);
      box-shadow: -2px 1px 0px 0px #202020, -40px 40px 40px 0 rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: -2px 2px 0px 0px #202020, -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
      transform: translate(0px, 0px) rotateX(30deg) rotateZ(-20deg);
    }
  }
}
